ul {
  list-style: none;
  padding: 5px;
  display: flex;
}

li {
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(18, 49, 83);
  color: aliceblue;
}

body {
  margin: 0;
}

main {
  margin: 10px 5px;
}

input {
  padding: 10px;
  font-size: 1.2rem;
}

button {
  padding: 11px;
  font-size: 1rem;
  background-color: rgb(245, 228, 208);
  border-radius: 5px;
  border-color: rgb(235, 220, 135);
}
